<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

        
    </head>
    <body>

        <div class="center container">
            <form id="del">

                <label for="pass">Super secret password:</label>
                <input type="text" id="pass" name="pass"><br>
                
                <label for="weeks">Delete data older than:</label>
                <input type="number" id="weeks" name="weeks">
                <label>weeks</label>
                <input type="submit">
            </form>

            <div id="thankyou">
                
            </div>
            <script>
                const form = document.querySelector("#del");
                const ty = document.getElementById("thankyou");
    
                function thanks(){
                    const txt = document.createElement('h1');
                    txt.innerHTML = `
                    Success!
                    `;
                    ty.append(txt);
                    localStorage.setItem("input", "true");
                }
                form.addEventListener("submit", thanks);
                function thx(){
                    if (localStorage.getItem("input") == "true") {
                        thanks();
                        localStorage.clear();
                    }
                }
                window.onload = thx;
            </script>
        </div>

        <div class="container" style="padding-top: 18px; justify-self:auto; margin:auto;">
             <form id="tags" style="right:20%">

                <label for="tag0">Tag 0:</label>
                <input type="text" id="tag0" name="tag0"><br>
                
                <label for="tag1">Tag 1:</label>
                <input type="text" id="tag1" name="tag1"><br>

                <label for="tag2">Tag 2:</label>
                <input type="text" id="tag2" name="tag2"><br>

                <label for="tag3">Tag 3:</label>
                <input type="text" id="tag3" name="tag3"><br>
                
                <input type="submit">
            </form>
        </div>
    </body>
</html>